### import the Data for student that in Excel file inside 


---

In [10]:
import pandas as pd
#software library developed in Python language for data processing and analysis

In [11]:
#Read the Excel file and store the data in a DataFrame
data = pd.read_csv('/content/first.csv')

In [12]:
#define the student data as that data DataFrame.
student_data = pd.DataFrame(data)

In [13]:
student_data

    student id student name                       Course
0            5        ahmed           Petrol Engineering
1            3         zaid          Nuclear engineering
2            1         himo         Software Engineering
3            7         saif                      Physics
4            4         fizo       electronic Engineering
5            6        feras           medical technology
6           23        talal              computer scince
7           45        sofia               cyber security
8           67       maryam                      nursing
9           26         sana                   Accounting
10         112        Sarah                    Economics
11         145         mia                      markting
12         149      mostafa            project mangment
13         164         Noah             Machine Learning
14          94       Sophia                     Big Data
15          87       Amelia  User Experience (UX) Design
16          65         Emma         Software Engineering
17          41    Alexander                   Management
18          28        Emily           English Literature
19          34         Jane                  Mathematics
20          76         John             Computer Science
21          95         amin             Computer Science
22          32        lucas          Nuclear Engineering
23          18         Omar                    Marketing
24          75       Khalil                   E-Commerce
25         176         Hoda             Entrepreneurship
26         138         Nada             Computer Science
27         145        Walaa                Cybersecurity
28         167        Nabil               Graphic Design
29         198      Ghassan                 3D Animation
30         254         Mona         Broadcast Journalism
31         267        Leila      Supply Chain Management
32         492       Farida                    Marketing
33         472       Hossam    Human Resource Management
34         275         Eman             Entrepreneurship
35         365        Hamza       Information Technology
36         458       Yasmin       User Experience Design
37         687       Samira              Motion Graphics
38         599       Hadeel                 3D Animation
39         256         Wael             Video Production
40         672        Osama              Film Production
41         942         Rola            Sound Engineering
42         246       Sherif               Urban Planning
43         791          Amr                    Marketing
44         945        Nidal      Business Administration
45         926        Farid         Broadcast Journalism
46         385       Marwan                  Advertising
47         374        Samir             Print Journalism
48         648          sam        Materials Engineering
49         345  abdelfattah           Mining Engineering

**change the Data frame to be list**

In [14]:
          #start to change it to list and define that list 
st_list = [(row['student id'], row['student name'], row['Course']) 
for index, row in student_data.iterrows()]

In [15]:
st_list

[(5, 'ahmed', 'Petrol Engineering'),
 (3, 'zaid', 'Nuclear engineering'),
 (1, 'himo', 'Software Engineering'),
 (7, 'saif', 'Physics'),
 (4, 'fizo', 'electronic Engineering'),
 (6, 'feras', 'medical technology'),
 (23, 'talal', 'computer scince'),
 (45, 'sofia', 'cyber security'),
 (67, 'maryam', 'nursing'),
 (26, 'sana', 'Accounting'),
 (112, 'Sarah', 'Economics'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (164, 'Noah', 'Machine Learning'),
 (94, 'Sophia', 'Big Data'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (65, 'Emma', 'Software Engineering'),
 (41, 'Alexander', 'Management'),
 (28, 'Emily', 'English Literature'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (95, 'amin', 'Computer Science'),
 (32, 'lucas', 'Nuclear Engineering'),
 (18, 'Omar', 'Marketing'),
 (75, 'Khalil', 'E-Commerce'),
 (176, 'Hoda', 'Entrepreneurship'),
 (138, 'Nada', 'Computer Science'),
 (145, 'Walaa', 'Cybersecurity'),
 (167, 'Nabil', 'Graphic Design'),
 (198, 'Ghassan', '3D Animation'),
 (254, 'Mona', 'Broadcast Journalism'),
 (267, 'Leila', 'Supply Chain Management'),
 (492, 'Farida', 'Marketing'),
 (472, 'Hossam', 'Human Resource Management'),
 (275, 'Eman', 'Entrepreneurship'),
 (365, 'Hamza', 'Information Technology'),
 (458, 'Yasmin', 'User Experience Design'),
 (687, 'Samira', 'Motion Graphics'),
 (599, 'Hadeel', '3D Animation'),
 (256, 'Wael', 'Video Production'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (246, 'Sherif', 'Urban Planning'),
 (791, 'Amr', 'Marketing'),
 (945, 'Nidal', 'Business Administration'),
 (926, 'Farid', 'Broadcast Journalism'),
 (385, 'Marwan', 'Advertising'),
 (374, 'Samir', 'Print Journalism'),
 (648, 'sam', 'Materials Engineering'),
 (345, 'abdelfattah', 'Mining Engineering')]

**start to check the list and add one student before the sorting**

In [16]:
st_list.append((100,'abdo','media'))
st_list

[(5, 'ahmed', 'Petrol Engineering'),
 (3, 'zaid', 'Nuclear engineering'),
 (1, 'himo', 'Software Engineering'),
 (7, 'saif', 'Physics'),
 (4, 'fizo', 'electronic Engineering'),
 (6, 'feras', 'medical technology'),
 (23, 'talal', 'computer scince'),
 (45, 'sofia', 'cyber security'),
 (67, 'maryam', 'nursing'),
 (26, 'sana', 'Accounting'),
 (112, 'Sarah', 'Economics'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (164, 'Noah', 'Machine Learning'),
 (94, 'Sophia', 'Big Data'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (65, 'Emma', 'Software Engineering'),
 (41, 'Alexander', 'Management'),
 (28, 'Emily', 'English Literature'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (95, 'amin', 'Computer Science'),
 (32, 'lucas', 'Nuclear Engineering'),
 (18, 'Omar', 'Marketing'),
 (75, 'Khalil', 'E-Commerce'),
 (176, 'Hoda', 'Entrepreneurship'),
 (138, 'Nada', 'Computer Science'),
 (145, 'Walaa', 'Cybersecurity'),
 (167, 'Nabil', 'Graphic Design'),
 (198, 'Ghassan', '3D Animation'),
 (254, 'Mona', 'Broadcast Journalism'),
 (267, 'Leila', 'Supply Chain Management'),
 (492, 'Farida', 'Marketing'),
 (472, 'Hossam', 'Human Resource Management'),
 (275, 'Eman', 'Entrepreneurship'),
 (365, 'Hamza', 'Information Technology'),
 (458, 'Yasmin', 'User Experience Design'),
 (687, 'Samira', 'Motion Graphics'),
 (599, 'Hadeel', '3D Animation'),
 (256, 'Wael', 'Video Production'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (246, 'Sherif', 'Urban Planning'),
 (791, 'Amr', 'Marketing'),
 (945, 'Nidal', 'Business Administration'),
 (926, 'Farid', 'Broadcast Journalism'),
 (385, 'Marwan', 'Advertising'),
 (374, 'Samir', 'Print Journalism'),
 (648, 'sam', 'Materials Engineering'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media')]

### **Use the bubble sort Algoritm To sort students according to their ID from smallest to largest**

---

In [17]:
def bubble_sort(data):
    # Loop through the entire list
    for i in range(len(data) - 1):
        # Loop through the list, except for the already sorted elements at end
        for j in range(len(data) - 1 - i):
            # If the current element is greater than next element, swap them
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]

In [18]:
           #sort the list that we have
bubble_sort(st_list)

In [19]:
st_list

[(1, 'himo', 'Software Engineering'),
 (3, 'zaid', 'Nuclear engineering'),
 (4, 'fizo', 'electronic Engineering'),
 (5, 'ahmed', 'Petrol Engineering'),
 (6, 'feras', 'medical technology'),
 (7, 'saif', 'Physics'),
 (18, 'Omar', 'Marketing'),
 (23, 'talal', 'computer scince'),
 (26, 'sana', 'Accounting'),
 (28, 'Emily', 'English Literature'),
 (32, 'lucas', 'Nuclear Engineering'),
 (34, 'Jane', 'Mathematics'),
 (41, 'Alexander', 'Management'),
 (45, 'sofia', 'cyber security'),
 (65, 'Emma', 'Software Engineering'),
 (67, 'maryam', 'nursing'),
 (75, 'Khalil', 'E-Commerce'),
 (76, 'John', 'Computer Science'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (94, 'Sophia', 'Big Data'),
 (95, 'amin', 'Computer Science'),
 (100, 'abdo', 'media'),
 (112, 'Sarah', 'Economics'),
 (138, 'Nada', 'Computer Science'),
 (145, 'Walaa', 'Cybersecurity'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (164, 'Noah', 'Machine Learning'),
 (167, 'Nabil', 'Graphic Design'),
 (176, 'Hoda', 'Entrepreneurship'),
 (198, 'Ghassan', '3D Animation'),
 (246, 'Sherif', 'Urban Planning'),
 (254, 'Mona', 'Broadcast Journalism'),
 (256, 'Wael', 'Video Production'),
 (267, 'Leila', 'Supply Chain Management'),
 (275, 'Eman', 'Entrepreneurship'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (365, 'Hamza', 'Information Technology'),
 (374, 'Samir', 'Print Journalism'),
 (385, 'Marwan', 'Advertising'),
 (458, 'Yasmin', 'User Experience Design'),
 (472, 'Hossam', 'Human Resource Management'),
 (492, 'Farida', 'Marketing'),
 (599, 'Hadeel', '3D Animation'),
 (648, 'sam', 'Materials Engineering'),
 (672, 'Osama', 'Film Production'),
 (687, 'Samira', 'Motion Graphics'),
 (791, 'Amr', 'Marketing'),
 (926, 'Farid', 'Broadcast Journalism'),
 (942, 'Rola', 'Sound Engineering'),
 (945, 'Nidal', 'Business Administration')]

**use linear search algorithm to search with name or ID for student**

In [20]:
# linear search algorithm

def linearsearch(array, finding):

# (array) is the array that I would like to search in it
# (finding) is the target value that I want to search for it in the list

    for i in range(len(array)):



        if array[i][0] == finding:

            return i
            
    return ('Not in the list')

In [21]:
linearsearch(st_list,'amin')

'Not in the list'

### **Here, the binary search is define in order for the students ID**

In [22]:
def binarySearch(arr, l, r, x):
 
    # Check base case
    if r >= l:
 
        mid = (l + (r)) // 2
 
        # If element is present at the middle itself
        if arr[mid][0] == x:
            return mid
 
        # If element is smaller than mid, then it
        # can only be present in left subarray
        elif arr[mid][0] > x:
            return binarySearch(arr, l, mid-1, x)
 
        # Else the element can only be present
        # in right subarray
        else:
            return binarySearch(arr, mid + 1, r, x)
 
    else:
        # Element is not present in the array
        return ('Not in the list')

In [23]:
binarySearch(st_list,0,len(st_list)-1, 5 )

3


**bubble sort to make a search with name **

In [24]:
def bubble_sort(data):
    # Loop through the entire list
    for i in range(len(data) - 1):
        # Loop through the list, except for the already sorted elements at end
        for j in range(len(data) - 1 - i):
            # If the current element is greater than next element, swap them
            if data[j][1] > data[j + 1][1]:
                data[j], data[j + 1] = data[j + 1], data[j]

In [25]:
 #sort the list that we have
bubble_sort(st_list)

In [26]:
st_list

[(41, 'Alexander', 'Management'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering')]

**bianry search with name**

In [27]:
def binarySearch(arr, l, r, x):
 
    # Check base case
    if r >= l:
 
        mid = (l + (r)) // 2
 
        # If element is present at the middle itself
        if arr[mid][1] == x:
            return mid
 
        # If element is smaller than mid, then it
        # can only be present in left subarray
        elif arr[mid][1] > x:
            return binarySearch(arr, l, mid-1, x)
 
        # Else the element can only be present
        # in right subarray
        else:
            return binarySearch(arr, mid + 1, r, x)
 
    else:
        # Element is not present in the array
        return -1

In [28]:
binarySearch(st_list,0,len(st_list)-1,'himo' )

40

**UPDATE information inside the List**

In [29]:
def update_student(st_list, id, name, course):
    # Loop through each student in the list
    for i, student in enumerate(st_list):
        # Check if the student's ID matches the provided ID
        if st_list[i][0] == id:
            # Update the student's information
            st_list[i] = ((id, name, course))
            # Break the loop as we have found the student
            break
    # Return the updated list of students
    return st_list

In [30]:
updated_students= update_student(st_list,41,'Alexander','coumputer')

In [31]:
st_list

[(41, 'Alexander', 'coumputer'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering')]

**save all information in the file with all this updates**

In [32]:
# change tuples it to a data frame 
Final_list = pd.DataFrame(st_list)

In [33]:
# make column names like before 
Final_list.columns = ["student id", "student Name", "Course"]

In [34]:
# save and return new data to CSV file
Final_list.to_csv("/content/final.csv")